body {
  background-image: url(https://raw.githubusercontent.com/destabilizer/destabilizer.github.io/master/resource/background.png);
  background-repeat: repeat;
}

h1 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #eeeeff;
}

a:active {
  color: #eeeeff;
}
